################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenAPI Client
/OpenAPI Client/bin/Debug/netstandard2.0
/OpenAPI Client/obj
/OpenAPI Client/OpenAPI Client.csproj.user
/OpenAPI Client Unit Tests/bin/Debug/netcoreapp3.0
/OpenAPI Client Unit Tests/obj
/OpenAPI Client Unit Tests/OpenAPI Client Unit Tests.csproj.user
